# ignore all shell scripts
*.sh

# ignore the security-settings_reset.json config file - for dev use only
**/security-settings_reset.json

# ignore results*.json files
**/results*.json
**/results_*/

# ignore .DS_Store files
**/.DS_Store

# ignore .vscode files
**/.vscode